.inputs {
    display: flex;
    flex-direction: column;

    width: 300px;
}
.datacontainer {
    display: flex;
    justify-content: space-evenly;
}

.datacontainer h1 {
    font-weight: 600px;
    font-size: 30px;
}
.datacontainer input {
    width: 150px;
}

.formcontainer {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.errormsg {
    color: red;
}